* {
    box-sizing: border-box;
    font-size: 16px;
}
.ingreso
{
    position: relative;
    height: 150px;
    width: 70%;
    background-color: brown;
    display: flex;
    margin: auto;
    padding: 20px;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.blanco
{
    position: absolute;   /* se coloca respecto al contenedor */
    bottom: 0;            /* pegado a la base del contenedor */
    left: 0;
    width: 100%;          /* mismo ancho del contenedor */
    height: 50%;          /* la mitad de alto */
    background-color: rgb(255, 255, 255); /* color de ejemplo traslúcido */
    border-top: 2px solid #333;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 0;
}

    button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin: auto;
        padding: 10px 20px; 
        font-size: 16px;
        z-index: 1;
    }
    
    button:hover {
        background-color: #45a049;
    }
    
    input{
        float: right;
        width: 60%;
        height: 50px;
        margin:auto;
        line-height: 100%;
        font-size: large;
        border: 2px solid #000000;
        border-radius: 4px;
        z-index: 1;
    }

.pokemon
{
    margin-top: 20px;
    width: 40%;
    height: auto;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 15px;
    line-height: 200%;
    background-image: url(../IMAGENES/klipartz.com.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.pokemon>h3
{
    font-size: 1em;
    width: 160px;
    color: #091c07;
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.8);
    font-family: "Sixtyfour Convergence", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}




#pokemonContainer
{
    display: flex;
    flex-wrap: wrap; /* Permitir que los divs se ajusten en filas */
    justify-content: center; /* Centrar horizontalmente los divs */
    gap: 2px; /* Espacio entre las cajas */
}

.pokemon>img
{
    width: 150px;
    height: auto;
}