.parracss
{
    height: 25vh;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: url(../IMAGENES/481909.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.pre_main
{
    height: 15px;
    background-color: black;
    width: 100%;
}


